body {
  margin: 0;
  font-family: 'Playfair Display', serif;
background: 
  url("s.jpg") no-repeat center center;
background-size: cover;
background-position: center;

  min-height: 100vh;


  text-align: center;
  color: white;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.rainbow {
  font-size: 70px;
  color: #f28b8b; /* pastel pink */
  letter-spacing: 2px;
  text-shadow: 0px 4px 15px rgba(0,0,0,0.4);
}
#page1 .sub {
  color: #f28b8b; /* pastel red */
}


.sub {
  font-size: 20px;
  margin-bottom: 20px;
}
h2 {
  color: #f28b8b; /* pastel red */
}

.hint {
  color: #f28b8b;
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.hint {
  font-size: 16px;
  opacity: 0.85;
  margin-bottom: 10px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  background: white;
  color: #ff4b5c;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  background: #ffe1e7;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 25px;
  margin: 30px;
}



.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}


.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  transition: 0.4s ease;
}


.card .text {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  transition: 0.4s ease;
  text-align: center;
}

/* Hover effect */
.card:hover img {
  filter: blur(4px);
  transform: scale(1.1);
}

.card:hover .text {
  opacity: 1;
}

.end {
  font-size: 50px;
  color: #f28b8b; /* pastel red */
}

#page3 .sub {
  color: #f28b8b; /* pastel red */
}


.hearts {
  font-size: 30px;
  animation: float 2s infinite alternate;
}

@keyframes float {
  from { transform: translateY(0); }
  to { transform: translateY(-20px); }
}
